*{
	margin:0;
	padding:0;
}
body {
	text-align:center;
	background:#ECE6E4 url(../samples/bg.gif) right bottom fixed no-repeat;
	color:#000;
	font:normal 12px Georgia, sans-serif;
}
div,p,span,li,dt,dd,h1,h2,h3,h4,h5,h6{
	text-align:left;
}
img{
	border:0;
}
ul,li{
	list-style-type:none;
}
a:link,
a:visited,
a:hover{
	color:#369;
	text-decoration:underline;
}
a:hover{
	color:#CE0000;
	text-decoration:none;
}
p{
	line-height:150%;
}
h1{
	margin:0 auto;
	width:100%;
	line-height:38px;
	text-align:center;
	overflow:hidden;
	font-size:16px;
	color:#FFF;
	background:#000 url(../img/top-bg.png);
	text-indent:15px;
	text-align:left;
	border-bottom:2px solid #CE0000;
}

#scrolling{
	position:absolute;
	left:50%;
	top:20%;
	width:500px;
	height:168px;
	overflow:hidden;
	margin:-82px 0 0 -252px;
	padding:1px;
	border:1px solid #999;
	background-color:#FFF;
}
#scrollnews{
	position:absolute;
	width:500px;
	height:168px;
	overflow:hidden;
	display:inline;
    top:0;
	left:0;
}
#scrollnews_con,
#scrollnews_copymsgid{
      width:500px;
	  overflow:hidden;
}
#scrollnews_con ul,
#scrollnews_copymsgid ul{
	float:left;
	width:500px;
	height:168px;
	overflow:hidden;
	clear:both;
}
#scrollnews_con ul li,
#scrollnews_copymsgid ul li{
	float:left;
	width:322px;
	line-height:21px;
	height:21px;
	overflow:hidden;
	font-size:12px;
	background:url(../image/bluedot.gif) 0 8px no-repeat;
}
#scrollnews_con ul li a:link,
#scrollnews_con ul li a:visited,
#scrollnews_con ul li a:hover,
#scrollnews_copymsgid ul li a:link,
#scrollnews_copymsgid ul li a:visited,
#scrollnews_copymsgid ul li a:hover{
	color:#02449A;
}
#scrollnews_con ul li a:hover
#scrollnews_copymsgid ul li a:hover{
	text-decoration:underline;
}
#scrollnews_con ul li.img,
#scrollnews_copymsgid ul li.img{
	width:154px;
	height:115px;
	padding:1px;
	border:1px solid #02449A;
	margin:10px;
	display:inline;
}
#scrollnews_con ul li.last,
#scrollnews_copymsgid ul li.last{
	width:490px;
	text-indent:10px;
}

#copyright{
	margin:0 auto;
	width:690px;
	line-height:30px;
	overflow:hidden;
    font-size:12px;
	font-weight:bold;
	text-align:center;
	clear:both;
	color:#275C91;
}